<%# File: app/views/stations/_list.html.erb %>
<%# Path: /app/views/stations/_list.html.erb %>
<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-3">
  <% @stations.each do |station| %>
    <%= render "stations/station", station: station %>
  <% end %>
</div>
