<!DOCTYPE html>
<html>
<head>
  <title>StatMon</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application.tailwind', media: 'all' %>
</head>
<body>
  <%= yield %>
</body>
</html>
